

    <div class="container">
        <div class=" fbody row  ">
            <div class="head">
                <h1> Create Company</h1>
            </div>
             <div class="main">
               
                   
                <form [formGroup]="userForm"   >
                    
                    <div class="form-group">
                    
                        <label class="form-label">Company Name</label>
                        <input  type="text" class="form-control"formControlName="companyName"  >
                         
                        <div class="text-danger" *ngIf="userForm.controls['companyName'].invalid && (userForm.controls['companyName']).touched || userForm.controls['companyName'].dirty">
                            <span *ngIf="userForm.controls['companyName'].errors?.['required']">Company Name is required</span>
                            <span *ngIf="userForm.controls['companyName'].errors?.['pattern']">Company Name Follow characters A/a</span>
                         
                        </div>
                        
                    </div>
                    <div class="form-group">
                        <label class="form-label">Mobile Number</label>
                        <input formControlName="mobileNumber"  type="text" class="form-control"  >
    
                        <div class="text-danger" *ngIf="userForm.controls['mobileNumber'].invalid && (userForm.controls['mobileNumber']).touched || userForm.controls['mobileNumber'].dirty">
                            <span *ngIf="userForm.controls['mobileNumber'].errors?.['required']">Mobile Number is required</span>
    
                         
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <label class="form-label">Addrass</label>
                        <input  formControlName="address" type="text" class="form-control"  >
                        
                        <div class="text-danger" *ngIf="userForm.controls['address'].invalid && (userForm.controls['address']).touched || userForm.controls['address'].dirty">
                            <span *ngIf="userForm.controls['address'].errors?.['required']">Address is required</span>
                            <span *ngIf="userForm.controls['address'].errors?.['pattern']">Address characters Follow the A/a</span>
                         
                        </div>
    
                    </div>
                    <div class="form-group">
                        <label class="form-label">Unik Code</label>
                        <input    formControlName="unikCode"  type="text" class="form-control" >
                        
                        <div class="text-danger" *ngIf="userForm.controls['unikCode'].invalid && (userForm.controls['unikCode']).touched || userForm.controls['unikCode'].dirty">
                            <span *ngIf="userForm.controls['unikCode'].errors?.['required']">unikCode is required</span>
                            <span *ngIf="userForm.controls['unikCode'].errors?.['pattern']">unikCode Follow special characters</span>
                         
                        </div>
                        
                    </div>
                    <div class="btn-d  form-select-sm">
                        
                            @if(isUrlid==true){
                                <button class="  btn btn-primary" (click)="onUpdate()" type="submit"> UPDATE </button>
                            }@else {
                                <button class="  btn btn-primary" (click)="onSave()" type="submit"> Add </button>
                            }
                       
    
                    </div>
                </form>
          
             </div>
        </div>
    
    </div>
    
    
