

<div class="container">
    <div class=" fbody row  ">
        <div class="head">
            <h1> Edit Employee</h1>
        </div>
         <div class="main">
           
               
            <form [formGroup]="userForm" (ngSubmit)="onSubmit" >
                
                <div class="form-group">
                    
                    <label class="form-label">Name</label>
                    <input formControlName="Name" type="text" class="form-control"
                     >
                     <div class="text-danger" *ngIf="userForm.controls['Name'].invalid && (userForm.controls['Name']).touched || userForm.controls['Name'].dirty">
                        <span *ngIf="userForm.controls['Name'].errors?.['required']">This is required</span>
                        <span *ngIf="userForm.controls['Name'].errors?.['minlength']">Min 8 charatores</span>
                    </div>
                   
                     
                </div>
                <div class="form-group">
                    <label class="form-label">EmployeeId</label>
                    <input formControlName="employeeId" type="text" class="form-control"  >
                    <div class="text-danger" *ngIf="userForm.controls['employeeId'].invalid && (userForm.controls['employeeId']).touched || userForm.controls['employeeId'].dirty">
                        <span *ngIf="userForm.controls['employeeId'].errors?.['required']">This is required</span>
                        <span *ngIf="userForm.controls['employeeId'].errors?.['pattern']">Pleace enter uppercase&Lowercase </span>
                    </div>
                   
                </div>
                <div class="form-group">
                    <label class="form-label">Handler</label>
                    <input formControlName="handlar" type="text" class="form-control"  >
                    <div class="text-danger" *ngIf="userForm.controls['handlar'].invalid && (userForm.controls['handlar']).touched || userForm.controls['handlar'].dirty">
                        <span *ngIf="userForm.controls['handlar'].errors?.['required']">This is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Company</label>
                    <input formControlName="company" type="text" class="form-control"  >
                    <div class="text-danger" *ngIf="userForm.controls['company'].invalid && (userForm.controls['company']).touched || userForm.controls['company'].dirty">
                        <span *ngIf="userForm.controls['company'].errors?.['required']">This is required</span>
                    </div>
                </div>
                <div class="btn-d  form-select-sm">
                    <button class="  btn btn-primary" type="submit">UPDATE</button>

                </div>
            </form>
      
         </div>
    </div>

</div>




